<div id="cookie-popup" class="cookie-popup">
    <button class="popup-close-button" aria-label="close button">
         <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 15L15 1" stroke="#140101" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M15 15L1 1" stroke="#140101" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />    </svg>
    </button>
    <p class="cookie-class">Our website use cookies. By continuing, we assume your permission to deploy cookies as detailed in our Privacy Policy.</p>
    <div class="cookie-buttons">
        <button id="decline-cookies" class="btn-decline">Decline</button>
        <button id="accept-cookies" class="btn-accept">Accept cookies</button>

    </div>
</div>