<footer class="footer">
  <div class="container footer-container">
      <p class="footer-text">All rights reserved magicblitzworld.com | 2025</p>
    <ul class="footer-navigation">
        <li class="footer-link">
        <a class="footer-underline" href="Terms and Conditions.html">Terms and Conditions</a>
      </li>
      <li class="footer-link">
        <a class="footer-underline" href="Privacy Policy.html">Privacy Policy</a>
      </li>    
      <li class="footer-link">
        <a class="footer-underline" href="Cookies Policy.html">Cookies</a>
      </li>
    </ul>  
  </div>
</footer>