<!-- Hero -->
 <section class="hero-section">
    <div class="container">
        <h1 class="visually-hidden">X-Demon</h1>
        <picture>
            <source srcset="
            /img/hero/hero-title-desk.png  1x,
            /img/hero/hero-title-desk@2x.png 2x
                 " media="(min-width: 1439px)" />
            <source srcset="
            /img/hero/hero-title-mob.png  1x,
            /img/hero/hero-title-mob@2x.png 2x
                 " media="(max-width: 1438px)" />
            <img class="hero-title-img" src="/img/hero/hero-title-mob.png" alt="X-Demon Logo" loading="lazy" />
        </picture>
        <p class="hero-text">Summon the Glitch.
        Control the Darkness.</p>
        <button type="button" class="hero-button">
            <picture>
                <source srcset="
                /img/hero/hero-button-desk.png 1x,
                /img/hero/hero-button-desk@2x.png 2x
                         " media="(min-width: 1439px)" />
                <source srcset="
                /img/hero/hero-button-mob.png  1x,
                /img/hero/hero-button-mob@2x.png 2x
                         " media="(max-width: 1438px)" />
                <img class="button-img" src="/img/hero/hero-button-mob.png" alt="Hell button" loading="lazy" />
                </picture>
        </button>
    </div>
 </section>
 <!-- Welcome to the Demon Protocol -->
  <section class="protocol-section">
    <div class="container">
        <h2 class="protocol-title">Welcome to the Demon Protocol</h2>
        <div class="prorocol-wrapper">
            <p class="protocol-text">X-Demon is not just a game—it’s an invocation.</p>
            <p class="protocol-text">Beneath its reel-based core lies a system infected with something ancient.<br/>
            Each spin channels corrupted data into unpredictable patterns.</p>
            <p class="protocol-text">Demonic algorithms twist logic, rewards surge like surges of forbidden energy, and you—the Operator—hold the code that
            opens it all. <br />Do you decode... or be consumed?</p>
        </div>
        <picture>
            <source srcset="
            /img/protocol/protocol-desk.png  1x,
            /img/protocol/protocol-desk@2x.png 2x
                         " media="(min-width: 1439px)" />
            <source srcset="
            /img/protocol/protocol-mob.png  1x,
            /img/protocol/protocol-mob@2x.png 2x
                         " media="(max-width: 1438px)" />
            <img class="protocol-img" src="/img/protocol/protocol-mob.png" alt="X-Demon" loading="lazy" />
        </picture>
    </div>
  </section>