body{
  background: #fff;
}
h2{
  font-family: "Rakkas", sans-serif;
    font-weight: 400;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    color: #f1ab24;
    text-shadow:
    0 0 3px #ff0200,
      0 0 4px #ff0200,
      0 0 5px #ff5f00;
}
@media only screen and (min-width: 1439px) {
 h2{font-size: 38px;
} 
}